[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/grb256"]
	path = bundle/grb256
	url = https://github.com/quanganhdo/grb256.git
[submodule "bundle/selecta"]
	path = bundle/selecta
	url = https://github.com/garybernhardt/selecta.git
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "bundle/hexmode"]
	path = bundle/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/scrollcolors"]
	path = bundle/scrollcolors
	url = https://github.com/vim-scripts/ScrollColors
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/mtth/scratch.vim
